:root {
    --main-font-color: white;
    --font-color-muted: grey;
    --main-bg-color: #17191E;
    --phthalo-green: #16433d;
    background-color: var(--main-bg-color);
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    font-family: sans-serif, Verdana, Helvetica, "Trebuchet MS";
    font-style: normal;
}

h1, h2, h3, h4, h5, p, span {
    color: var(--main-font-color);
    font-size: 1rem;
}

p { padding-bottom: 0.5rem; }

h1 { font-size: 5.5rem; padding: 2rem 0; }
h2 { font-size: 2.9rem; padding: 1rem 0; }
h3 { font-size: 1.8rem; padding: 0.8rem 0; }
h4 { font-size: 1.3rem; padding: 0.5rem 0; }
p, span { font-size: 1.1rem; line-height: 150%; }

a {
    color: var(--font-color-muted);
    text-decoration: none;
    font-style: inherit;
}

.italic { font-style: italic; }
.smaller { font-size: 0.8rem; }

div.header {
    position: sticky;
    top: 0px;
    width: 100%;
    overflow: visible;
    z-index: 2;
}

div.header-shadow {
    position: sticky;
    top: 4.3rem;
    height: 5rem;
    background-image: linear-gradient(var(--main-bg-color), transparent);
    z-index: 1;
}

div.header > div {
    background-color: var(--phthalo-green);
    height: 3rem;
    padding: 1rem 0 0 3rem;
    font-style: italic;
}

div.header > svg {
    height: 2rem;
    width: 100%;
}

div.code {
    margin: 1.0rem 5.0rem 2.0rem 0.5rem;
    border: 1px solid var(--phthalo-green);
    border-radius: 1rem;
    padding: 1rem;
}

div.code p {
    font-family: 'Courier New', Courier, monospace;
    line-height: 110%;
}

div.code p.indent-0 { padding-left: 1.0rem; }
div.code p.indent-1 { padding-left: 3.0rem; }
div.code p.indent-2 { padding-left: 5.0rem; }
div.code p.indent-3 { padding-left: 7.0rem; }
div.code p.indent-4 { padding-left: 9.0rem; }

.code-inline { 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: lightskyblue;
}

div.header div.sidenav {
    display: none;
    position: absolute;
    top: 8rem;
    left: calc(100% - 400px);
    width: 300px;
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    height: auto;
}

div.header div.sidenav div {
    padding-bottom: 1rem;
}

@media only screen and (min-width: 1500px) {
    div.header div.sidenav {
        display: block;
    }
}

.textarea {
    width: 1000px;
    height: 100%;
    overflow: auto;
    margin-left: max(3rem, calc(50% - 700px));
    padding: 0 1.5rem 3rem 0;
}