:root {
    --main-font-color: white;
    --main-bg-color: #17191E;
    --phthalo-green: #16433d;
    background-color: var(--main-bg-color);
}

h1, h2, h3, h4, h5, p, span {
    color: var(--main-font-color);
    font-size: 1rem;
    font-family: sans-serif, Verdana, Helvetica, "Trebuchet MS";
}

p { padding-bottom: 0.5rem; }

h1 { font-size: 5.5rem; padding: 2rem 0; }
h2 { font-size: 2.9rem; padding: 1rem 0; }
h3 { font-size: 1.8rem; padding: 0.8rem 0; }
h4 { font-size: 1.3rem; padding: 0.5rem 0; }
p, span { font-size: 1.1rem; line-height: 150%; }

.italic { font-style: italic; }
.smaller { font-size: 0.8rem; }

div.header {
    position: sticky;
    top: 0px;
    width: 100%;
}

div.header > div {
    background-color: var(--phthalo-green);
    height: 3rem;
    padding: 1rem 0 0 3rem;
    font-style: italic;
}

div.header > svg {
    height: 2rem;
    width: 100%;
}

div.code {
    margin: 1.0rem 5.0rem 2.0rem 0.5rem;
    border: 1px solid var(--phthalo-green);
    border-radius: 1rem;
    padding: 1rem;
}

div.code p {
    font-family: 'Courier New', Courier, monospace;
    line-height: 110%;
}

div.code p.indent-0 { padding-left: 1.0rem; }
div.code p.indent-1 { padding-left: 3.0rem; }
div.code p.indent-2 { padding-left: 5.0rem; }
div.code p.indent-3 { padding-left: 7.0rem; }
div.code p.indent-4 { padding-left: 9.0rem; }

.code-inline { 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: lightskyblue;
}

.textarea {
    width: 1000px;
    height: 100%;
    overflow: auto;
    margin-left: max(3rem, calc(50% - 600px));
    padding: 0 1.5rem 3rem 0;
}