@media screen and (max-width: 1000px) {
    
    h1, h2, h3, h4, h5, p, span {
        color: var(--main-font-color);
        font-size: 2rem;
    }

    p { padding-bottom: 0.5rem; }

    h1 { font-size: 4.0rem; padding: 2rem 0; }
    h2 { font-size: 3.4rem; padding: 1rem 0; }
    h3 { font-size: 2.9rem; padding: 0.8rem 0; }
    h4 { font-size: 2.3rem; padding: 0.5rem 0; }
    p, span { font-size: 1.5rem; line-height: 150%; }

    a {
        color: var(--font-color-muted);
        text-decoration: none;
        font-style: inherit;
    }
    
    .italic { font-style: italic; }
    .smaller { font-size: 1.3rem; }

    div.code p {
        font-size: 1.2rem;
        line-break: anywhere;
    }

    .textarea {
        width: 80%;
        padding: 1rem 2rem;
        font-size: larger;
    }
}